* {
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Muli');

.menu-mobile{
	
}
.imagem-menu{
	width: 7%;
	margin-left:48vh;
	margin-top: 30px;
}

.listaMenuMobile{
	display: flex;
    flex-direction: column;
    align-items: center;
   	margin-top: 25%;
}
.listaMenuMobile-item{
    font-size: 31px;
    margin: 25px;
    color: #000000;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
}
