* {
	margin: 0;
	padding: 0;
}
header{
	width: 100vw;
	display: flex;
	align-items: center;
	/*background-color: #CDD;*/
}

.containerLogo{
	width: 12%;
	margin-left: 40px;
}
@media(max-width: 640px){
	.containerLogo{
		width: 55%;
	}
}
.containerMenu{
	width: 100%;
	font-size: 16px;
	margin-left: 22px;
	margin-top: 2px;
	display: flex;
	align-items: center;
}
.containerMenu-item{
	text-decoration: none;
	color: #000000;
	margin: 20px;

}